
@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Admin/AdminLayoutpage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/CSS/ImageStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    <div class="slideshow-container" style="display:flex;align-items:center;justify-content:center">
        <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="~/Content/Images/pexels-lukas-574069.jpg" style="max-width: 600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="~/Content/Images/pexels-negative-space-34600.jpg" style="max-width:600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="~/Content/Images/pexels-pixabay-60504.jpg" style="max-width:600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="~/Content/Images/pexels-ketut-subiyanto-4126724.jpg"style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000);
        }
    </script>

</body>
</html>


