
@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Admin/AdminLayoutpage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/CSS/ImageStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/CSS/AdminHomePageStyle.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    <!--A section which gives intro to home page and contains a link to courses page-->
    <div class="content-left">
        <h3>Welcome to Great Learning!</h3>
        <p>We provide top-quality online courses for programming languages. Whether you're a beginner or an experienced developer, our platform has something for everyone.</p>
        <a href="https://localhost:44315/Course/CourseHomePage" class="btn-learn-more">Go to courses</a>
    </div>
    <br />

    <!--Slideshow division with image carousel-->
    <div class="slideshow-container" style="display:flex;align-items:center;justify-content:center">
        <div class="mySlides">
            <img src="~/Content/Images/pexels-lukas-574069.jpg" style="max-width: 600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides">
            <img src="~/Content/Images/pexels-negative-space-34600.jpg" style="max-width:600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides">
            <img src="~/Content/Images/pexels-pixabay-60504.jpg" style="max-width:600px" />
            <div class="text">An online learning platform</div>
        </div>

        <div class="mySlides">
            <img src="~/Content/Images/pexels-ketut-subiyanto-4126724.jpg" style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide 6.jpg" style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide2.jpg" style="max-width:600px;max-height:500px"/>
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide.jpg" style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide 7.jpg"style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide 4.jpg" style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
        <div class="mySlides">
            <img src="~/Content/Images/slide 5.jpg" style="max-width:600px;max-height:500px" />
            <div class="text">An online learning platform</div>
        </div>
    </div>
    <br>
    
    <!--Dots to represent image carousel movement-->
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <!--Loop to iterate through slides on loop and display all the slides-->
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000);
        }
    </script>

</body>
</html>


