@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <address>
        Infopark Phase 2<br />
        Kakkanad,Kochi<br />
        Kerala-682030<br />
        Ph:9845623400
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">claysyssupport@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">claysysmarketing@rediff.com</a>
    </address>
</main>