/* Styles for the contact page */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family:'Sitka Heading';
    color: #007bff;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight:bold;
}

address {
    margin-bottom: 20px;
    font-style: normal;
}

/* Styles for the query box */
.query-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

    .query-box h3 {
        color: #007bff;
        font-size: 20px;
        margin-bottom: 20px;
    }

label {
    font-weight: bold;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 16px;
}

    input[type="submit"]:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }

/* Styles for contact info */
address strong {
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
