/* Styles for the course blocks container */
.course-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Styles for each individual course block */
.course-block {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f5f5f5;
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

    .course-block h3 {
        margin-top: 0;
        font-family:'Sitka Heading';
    }

    .course-block a {
        display: inline-block;
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;
    }